.yahoo {
    background-color: white;
    padding-top: 10px;
    -webkit-border-radius: 10px;
     font-family: 'Josefin Sans',
     sans-serif;

}

.jumbotron{
    background-color: blanchedalmond;
    width: 100vw;

}

.grid {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 530px;
    width: 580px;
    background-color: white;
    -webkit-border-radius: 10px;

}

.grid div {
    height: 75px;
    width: 75px;
    border: 1px solid gainsboro;
    margin-right: 4px;
    -webkit-border-radius: 10px;

}

.player-one {
    background-color: #FF4136;
    border-radius: 10px;
}

.player-two {
    background-color: #0074D9;
    border-radius: 10px;
}

.row {
    justify-content: center;
    align-content: center;
}

body {
    background-color: #7FDBFF;
    width: 100vw;
}

.rounded {
    -webkit-border-radius: 10px;
    background-color: white;
}

.specFont {
    font-family: 'Manrope',
    sans-serif;
}
